<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>dev.beaufour.sleepd</string>
    <key>CFBundleName</key>
    <string>sleepd</string>
    <key>CFBundleDisplayName</key>
    <string>sleepd</string>
    <key>CFBundleExecutable</key>
    <string>sleepd</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSHealthShareUsageDescription</key>
    <string>sleepd reads sleep analysis data to export sleep sessions as JSON.</string>
</dict>
</plist>
