<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.beaufour.sleepd</string>
    <key>ProgramArguments</key>
    <array>
        <string>/ABSOLUTE/PATH/TO/sleep-sync/.build/release/sleepd</string>
        <string>/ABSOLUTE/PATH/TO/sleep-sync/sleep.json</string>
    </array>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/ABSOLUTE/PATH/TO/sleep-sync/sleepd.log</string>
    <key>StandardErrorPath</key>
    <string>/ABSOLUTE/PATH/TO/sleep-sync/sleepd.error.log</string>
</dict>
</plist>
